/Lib
/Scripts
pyvenv.cfg
/__pycache__
/.idea
calculator.py
daniar_28_1B
daniar_28_1B_hw3.py
daniar_28_1B_hw4.py
daniar_28_1B_hw5.py
daniyar_28_1B_hw1.py
daniyar_28_1B_hw7.py
daniyar_28_1B_hw2.py
dsniyar.py
file.txt
lesson_8.py
results.txt
дубаль 2.py
person.py
main.py